#root {
  /* max-width: 1280px; */
  box-sizing: border-box;
  color: white;
}

.page-container {
  background-image: url('./assets/portfolio-background-mobile.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
}

.main-container {
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 0;
}

.main-container section {
  min-height: 300px;
  padding: .5rem 1rem;
}

.skewed-name {
  text-shadow: 0 0 3px aqua;
  font-size: 3rem;
  color: aqua;
}

.skewed-dev {
  background-color: aqua;
  clip-path: polygon(0% 0%, 91% 13%, 100% 100%, 8% 88%);
  padding: 0 .9rem .2rem .9rem;
  text-shadow: 0 0 12px black;
}

.section-title {
  width: fit-content;
  background-color: aqua;
  clip-path: polygon(0% 0%, 95% 7%, 100% 100%, 5% 93%);
  padding: .3rem 1rem;
  text-shadow: 0 0 12px black;
}

#about-me div, #projects div, #skills div, #contact div {
  width: 100%;
  max-width: 395px;
}

#main {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main h1 {
  margin-bottom: 1rem;
}

#about-me {
  background-color: rgb(24, 24, 24);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  clip-path: polygon(0% 5%, 100% 0%, 100% 95%, 0% 100%);
}

#about-me p {
  opacity: .6;
}

#projects {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

#skills {
  background-color: rgb(24, 24, 24);
  clip-path: polygon(0% 5%, 100% 0%, 100% 95%, 0% 100%);
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

#skills h3 {
  margin-bottom: 1.5rem;
}

#skills .row {
  justify-content: center;
}

#skills .row svg {
  height: 30px;
  width: 30px;
  color: aqua;
}

.image {
  height: 50px;
  width: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.tool {
  min-width: max-content;
  max-width: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

#contact {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 767px) {
  #about-me div, #projects div, #skills div, #contact div {
    max-width: 700px;
  }

  #skills .row {
    max-width: 395px;
    margin: auto;
  }
}

@media (min-width: 991px) {
  .page-container {
      background-image: url('./assets/portfolio-background-desktop.jpg');
  }
  /* .main-container {
    background-color: ;
  } */
}
